/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;         
  margin: 0;
  background-color: #f4f4f4;
}

.hint {
    font-size: 8px;
    color: #ccc;
    opacity: 0.3;
}

h1, #result-area, #chance-area, #user-input, #play-button, #reset-button {
    margin: 10px 0; 
}

#user-input {
    padding: 10px;
    width: 200px;
    text-align: center;
}

.wrapper {
  padding: 30px 40px;
  width: 50vw;
  border-radius: 12px;
  background: #f0def5;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.wrapper header {
  font-size: 25px;
  font-weight: 500;
  color: #541d5a;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}
.wrapper p {
  font-size: 18px;
  color: #2c0533;
}
.wrapper .input-field {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 25px 0;
}
.input-field input,
.input-field button {
  height: 50px;
  width: calc(100% / 2 - 20px);
  outline: none;
  padding: 0 20px;
  border-radius: 8px;
  font-size: 18px;
}
.input-field input {
  text-align: center;
  color: #2b272d;
  background-color: rgba(228, 199, 227, 0.8);
  width: 110px;
  border: 1px solid #aaa;
  box-shadow: 0.5px 0.5px 1px black;
}

.input-field input:hover {
  text-align: center;
  color: #2b272d;
  background-color: rgba(228, 199, 227, 0.5);
  width: 110px;
  box-shadow: 0.5px 0.5px 1px black;
  border: 1px solid #000000;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}
.input-field input:disabled {
  cursor: not-allowed;
}
.input-field button {
  border: none;
  background: #8e26a0;
  color: #f0d8f1;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.input-field button:hover {
  border: none;
  color: #711c81;
  background-color: #e2b9e3;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
  transition: 0.3s;
}

.input-field button:active {
  transform: scale(0.97);
}


@media screen and (max-width:600px) {
.wrapper {
    padding: 30px 40px;
    width: auto;
    border-radius: 12px;
    background: #f0def5;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  }
}